@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/variables";
$btn-border-radius: 10px;
$body-bg: green;
$body-color:white;
$card-bg: cyan;
$theme-colors:(
    'qizil':rgb(99, 1, 1),
    'sariq':yellow,
    'danger':rgb(245, 87, 87),
    'light':rgb(212, 212, 212)
);  
@import "../node_modules/bootstrap/scss/bootstrap";


@import "./blocks";
.card__logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    &__icon{
        width: 25px;
        height: 25px;
        background: url(../img/calendar-clear.png) no-repeat;
        background-position: center;
        background-size: contain;
    }
}
.card__rate{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    &__icon{
        width: 25px;
        height: 25px;
        background: url(../img/star.png) no-repeat;
        background-position: center;
        background-size: contain;
    }
}